body {
  background-color: #23272a;
}

h1 {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 70px;
  font-weight: 400;
  display: inline-block;
  margin-left: 10%;
  vertical-align: top;
}

p {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  margin-left: 5%;
}

ul {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  margin-left: 5%;
}

img {
  border: 8px solid;
  border-color: #23272a;
  border-radius: 50%;
  display: inline-block;
  width: 128px;
  height: 128px;
  margin-top: 16px;
  margin-left: 16px;
  margin-bottom: 16px;
}

.top-menu {
  width: auto;
  height: auto;
  background-color: #2C2F33;
  z-index: -1;
  border-radius: 12px;
}
